.teemboom_root{
	background: var(--teemboom-main);
	color: var(--teemboom-text);
	font-family: var(--teemboom-font_family);
	font-size: var(--teemboom-font_size);
}
.teemboom_root *{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.teemboom_root img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.teemboom_root button{
	color: var(--teemboom-text);
	cursor: pointer;
}
#teemboom_comments{
	width: 100%;
	padding: 0px 0% 0 0;
	border-radius: 1px;
}

#teemboom_comments_popup{
	width: 50%;
	min-width: 400px;
	height: 85vh;
	position: fixed;
	right: 0%;
	top: 5vh;
	z-index: 10000000;
	display: none;
	overflow-y: auto;
}
@media (max-width: 550px){
	#teemboom_comments_popup{
		width: 100%;
		min-width: 0px;
		height: 100%;
		top: 0vh;
	}
}
#teemboom_comments_popup #teemboom_send_box{
	top: 40px;
}

#teemboom_popup_close{
	padding-right: 20px;
	padding-top: 10px;
	font-size: 15px;
	font-weight: 600;
	position: sticky;
	top: 0px;
	height: 30px;
	display: flex;
	justify-content: right;
	align-items: center;
	background: var(--teemboom-main) !important;
}
#teemboom_popup_close p{
	height: 90%;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: var(--teemboom-text) !important;
}


#teemboom_send_box{
	position: relative;
	width: 100%;
	min-height: 45px;
	display: flex;
	align-items: center;
	margin: 0 5px;
	margin-bottom: 5px;
	padding: 5px 0;
	box-shadow: 0px 0px 4px 4px var(--teemboom-send_comment_shadow);
	border-radius: 5px;
	background: var(--teemboom-send_comment_background);
	z-index: 5;
}
#teemboom_send_text{
	width: 100%;
	padding: 15px 50px 0px 10px;
    height: auto;
	background: var(--teemboom-send_comment_background);
	color: var(--teemboom-send_comment_text);
	outline: none;
    border: none;
/*    border-bottom: 1px var(--teemboom-send_comment_outline) solid;*/
    flex-grow: 0;
	font-size: 2.6em;
}
#teemboom_send_button{
	position: absolute;
	right: 0;
	width: fit-content;
	height: 100%;
	margin: auto 0;
	flex-shrink: 0;
	border: none;
	background: var(--teemboom-send_comment_background);
	color: var(--teemboom-send_comment_text);
	padding: 0 10px;
	cursor: pointer;
	font-weight: 900;
}

#teemboom_send_profile{
	flex-shrink: 0;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	opacity: 0.9;
	margin-left: 3px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}



#teemboom_comments_box{
	width: 100%;
	position: relative;
	background: var(--teemboom-comments_background);
	padding: 1px 0 15px 0;
}

#teemboom_metrics_box{
	width: 100%;
	margin: 15px 0 10px 0;
	padding: 5px 5px;
	font-size: 3em;
	background: var(--teemboom-metrics_background);
	color: var(--teemboom-metrics_text)
}


.teemboom_comment_main{
	width: 100%;
}
.teemboom_comment{
	width: 100%;
	margin: 20px 5px;
	padding: 15px 5px;
	background: var(--teemboom-comments);
	box-shadow: 0px 0px 4px 4px var(--teemboom-shadow);
	border-radius: 5px;
	display: flex;
	position: relative;
}
.teemboom_comment:hover .teemboom_comment_menu{
	display: block;
}
#teemboom_comments .teemboomPinned{
	width: fit-content;
	position: absolute;
	top: 2px;
	right: 10px;
	font-size: 2em;
	font-weight: 600;
	padding-bottom: 5px;
}
#teemboom_comments .teemboomPinned svg{
	width: 13px;
	height: 13px;
}
.teemboom_comment_pfp{
	width: 30px;
	height: 30px;
	font-size: 12.5px;
	border-radius: 50%;
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

.teemboom_comment_title{
	width: 100%;
	padding: 5px 0 3px 0;
	font-size: 2.2em;
	font-weight: 600;
	background: var(--teemboom-comment_title);
	color: var(--teemboom-comment_title_text);
}
.teemboom_comment_title i{
	font-size: 80%;
	opacity: 0.7;
}

.teemboom_comment_body{
	width: 90%;
	height: fit-content;
	font-size: 2.6em;
	word-break: break-word;
}
.teemboom_comment_menu{
	position: absolute;
	top: 3px;
	right: 5px;
	font-size: 3em;
	cursor: pointer;
	opacity: 0.7;
	display: none;
}
.teemboom_comment_menu p{
	font-size: 18px;
	color: var(--teemboom-text);
}
@media (pointer: coarse){
	.teemboom_comment_menu{
		display: block;
	}
}
.teemboom_comment_menu div{
	position: absolute;
	top: 100%;
	width: 55px;
	font-size: 70%;
	right: 0px;
	padding: 3px 0px 0px 3px;
	border: 1px var(--teemboom-outline) solid;
	border-radius: 4px;
	display: flex;
	flex-shrink: 0;
}
.teemboom_comment_engage{
	display: flex;
	padding-top: 8px;
	height: fit-content;
	color: var(--teemboom-text);
}
.teemboom_engage_like{
	fill: blue;
}
.teemboom_engage_like svg{
	width: 2.1em;
	height: 2.1em;
	margin-right: 0.7em;
	cursor: pointer;
}
.teemboom_engage_like svg path{
	fill: var(--teemboom-like_color);
}
.teemboom_engage_dislike svg{
	width: 2.1em;
	height: 2.1em;
	margin: 2px 0.7em 0 0.8em;
	cursor: pointer;
}
.teemboom_engage_dislike svg path{
	fill: var(--teemboom-dislike_color);
}
.teemboom_engage_like_num{
	font-size: 2.1em;
	font-weight: 600;
	opacity: 0.8;
	color: var(--teemboom-text);
}
.teemboom_engage_dislike_num{
	font-size: 2.1em;
	font-weight: 600;
	opacity: 0.8;
	color: var(--teemboom-text);
}
.teemboom_engage_reply_num{
	font-size: 2em;
	font-weight: 600;
	opacity: 0.8;
	color: var(--teemboom-text);
}
.teemboom_engage_reply{
	font-size: 2em;
	font-weight: 600;
	opacity: 0.9;
	margin-right: 3px;
	margin-left: 30px;
	cursor: pointer;
	color: var(--teemboom-text);
}

.teemboom_replies{
	padding: 7px 0 0 0;
	width: 100%;
	display: none;
	background: var(--teemboom-replies_background);
}
.teemboom_replies_input{
	width: 96%;
	height: 25px;
	padding: 6px 2%;
	background: var(--teemboom-send_reply_background);
	color: var(--teemboom-send_reply_text);
    border: none;
	border-bottom: 1px var(--teemboom-outline) solid;
	font-size: 2.2em;
	outline: none;
	margin-bottom: 5px;
}
.teemboom_reply{
	width: calc(100% - 10px);
	padding: 5px 5px;
	background: var(--teemboom-reply);
	color: var(--teemboom-reply_text);
	display: flex;
	position: relative;
}


#teemboom_join_community{
	padding: 7px 15px;
	margin-left: 1px;
	background: var(--teemboom-comments);
	border: 1px var(--teemboom-outline) solid;
	font-weight: 600;
	cursor: pointer;
}







.teemboom_popup{
	position: fixed;
	width: 400px;
	padding: 40px 10px;
	max-width: 80vw;
	min-height: 200px;
	height: fit-content;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--teemboom-main);
	box-shadow: 0px 3px 6px 6px var(--teemboom-outline);
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 100000;
}
.teemboom_popup_close{
	position: absolute;
	right: 0%;
	top: 0%;
	width: 40px;
	height: 30px;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--teemboom-main);
	color: var(--teemboom-text);
	border: none;
	cursor: pointer;
	border-radius: 5px;
}
.teemboom_popup_partition{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 99999;
	background-color: var(--teemboom-main);
	opacity: 0.4;
} 
.teemboom_popup header{
	font-size: 2.5em;
	text-align: center;
	font-weight: 600;
	margin-bottom: 10px;
}
.teemboom_popup h6{
	font-size: 2.2em;
	text-align: center;
	font-weight: 600;
	padding: 10px 0;
}
.teemboom_popup label{
	font-size: 2.5em;
	margin-bottom: 5px;
}
.teemboom_popup input{
	background: var(--teemboom-main);
	color: var(--teemboom-text);
	border: 1px var(--teemboom-outline) solid;
	height: 30px;
	width: 96%;
	padding: 0 2%;
	border-radius: 2px;
	margin-bottom: 15px;
	font-size: 2.8em !important;
}

.teemboom_popup textarea{
	background: var(--teemboom-main);
	color: var(--teemboom-text);
	border: 1px var(--teemboom-outline) solid;
	height: 80px;
	border-radius: 2px;
	margin-bottom: 10px;
	font-size: 2.8em !important;
}
.teemboom_popup button{
	background: var(--teemboom-main);
	/* color: var(--teemboom-main); */
	border: 1px var(--teemboom-text) solid;
	height: 30px;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 2.6em;
}

.teemboom_popup_social{
	width: 100%;
	height: 40px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	padding: 6px 0;
	border-radius: 5px;
	border: none !important;
}
.teemboom_popup_social img{
	width: auto;
	height: 100%;
	margin-right: 10px;
}

#teemboom_comments .teemboom_popup_social svg{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
.teemboom_popup_social p{
	font-size: 1em;
}

#teemboom_profile_popup_pfp{
	width: 60px;
	height: 56px;
	padding-top: 4px;
	margin: 2px auto;
	border-radius: 50%;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}



.teemboom_profile_pic{
	border-radius: 50% !important;
	padding: 0 !important;
	overflow: hidden !important;
}
.teemboom_profile_pic img{
	object-fit: cover;
}
